<script language="JavaScript" src="/cjs/ecshop/ecshop.js"></script>
<!--
제품소개를 리스트형식으로 출력할려고 할때
아래 html 코드를 사용 합니다.
<div style='width:180px;float:left;text-align:left'>
 <div><img alt='' src='{{$template}}/img/main/left_2.gif'></div>
 {{foreach from=$goods_list key=k item=v}}
 <div id='left{{if ($smarty.get.goods_code eq $v.goods_code)}}on{{elseif !$smarty.get.goods_code and $v.goods_code == $goods_code}}on{{else}}off{{/if}}'><a href='product1.php?topmenu=2&mode=goods_introduce&goods_code={{$v.goods_code}}'>{{$v.goods_name}}</a></div>
 {{/foreach}}
 <div style='margin:25 0 0 0'><img alt='' src='{{$template}}/img/main/bnr_left1.gif'></div>
 <div style='margin:24 0 0 0'><a href='#none'><img alt='' src='{{$template}}/img/main/bnr_left2.gif'></a></div>
</div>
-->
<div style='width:690px; float:left; text-align:left;'>
 <div style='background:url({{$template}}/img/main/bg_history.gif) no-repeat;height:46;width:690'>
 <div class='title'>{{$view.goods_name}}</div>
 <div class='history1'><a href='{{$template}}/index.php'>홈</a> &gt; 제품소개 &gt; {{$view.goods_name}}</div>
 </div>
 <div style='width:690;margin-top:20px'>
  <div id='product_img'>
  <div style='width:300; height:300'>{{$view.goods_img3}}</div>
  <!--썸네일 시작--->
  <div id='nail'>
  {{if $view.s_goods_img3}}{{$view.s_goods_img3}}{{/if}}
  {{if $view.goods_img5}}{{$view.goods_img5}}{{/if}}
  {{if $view.goods_img6}}{{$view.goods_img6}}{{/if}}
  {{if $view.goods_img7}}{{$view.goods_img7}}{{/if}}
  {{if $view.goods_img8}}{{$view.goods_img8}}{{/if}}
  </div>
  <!--썸네일 끝--->
  {{if $view.goods_img1 ||$view.goods_img5 || $view.goods_img6 || $view.goods_img7 || $view.goods_img8}}
  <img alt='' src='{{$template}}/img/main/btn_zoom.gif' style='cursor:hand' onclick="window.open('{{$template}}/mall/pop_goods.php?idx={{$view.idx}}&mode=goods_view&act=pop_goods','','width=600, height=594')">
  {{/if}}
  </div>
  <div id='product_info'>
   <form name="order_form" method="post">
   <div class='product_tle' >{{$view.goods_name}}</div>
   <table border='0' cellpadding='0' cellspacing='0' style='margin-top:7'>
    <col width='88px'></col>
    {{if $view.check_view_price=='T'}}
    <tr height='26'>
     <td class='product_txt1'>판매가</td>
     <td class='product_price'>{{$view.sell_price}}원</td>
    {{/if}}
    </tr>
    {{if $view.consumer_price}}
    <tr height='26'>
     <td class='product_txt1'>소비자가</td>
     <td class='product_txt2'><strike>{{$view.consumer_price}}원</strike></td>
    </tr>
    {{/if}}
    {{if $view.make_company}}
    <tr height='26'>
     <td class='product_txt1'>제조사</td>
     <td class='product_txt2'>{{$view.make_company}}</td>
    </tr>
    {{/if}}
    {{if $view.origin}}
    <tr height='26'>
     <td class='product_txt1'>원산지</td>
     <td class='product_txt2'>{{$view.origin}}</td>
    </tr>
    {{/if}}
    {{if $view.brand}}
    <tr height='26'>
     <td class='product_txt1'>브렌드명</td>
     <td class='product_txt2'>{{$view.brand}}</td>
    </tr>
    {{/if}}
    {{if $view.model_name}}
    <tr height='26'>
     <td class='product_txt1'>모델명</td>
     <td class='product_txt2'>{{$view.model_name}}</td>
    </tr>
    {{/if}}
    <tr height='26'>
     <td class='product_txt1'>상품코드</td>
     <td class='product_txt2'>{{$view.goods_code}}</td>
    </tr>
    {{if $view.use_option == 'use'}}
    {{if $view.option_name_01}}
    <tr height='26'>
     <td class='product_txt1'>{{$view.option_name_01}}</td>
     <td class='product_txt2'>
     <input title='input' type='hidden' name='option_name_01' value="{{$view.option_name_01}}">
     <select title='select' name='goods_option_01'>
     <option value=''>-선택-</option>
     {{foreach from=$view.option_value_01 item=option_value}}
     <option value='{{$option_value}}'>{{$option_value}}</option>
     {{/foreach}}
     </select>
     </td>
    </tr>
    {{/if}}
    {{if $view.option_name_02}}
    <tr height='26'>
     <td class='product_txt1'>{{$view.option_name_02}}</td>
     <td class='product_txt2'>
     <input title='input' type='hidden' name='option_name_02' value="{{$view.option_name_02}}">
     <select title='select' name='goods_option_02'>
     <option value=''>-선택-</option>
     {{foreach from=$view.option_value_02 item=option_value}}
     <option value='{{$option_value}}'>{{$option_value}}</option>
     {{/foreach}}
     </select>
     </td>
    </tr>
    {{/if}}
    {{if $view.option_name_03}}
    <tr height='26'>
     <td class='product_txt1'>{{$view.option_name_03}}</td>
     <td class='product_txt2'>
     <input title='input' type='hidden' name='option_name_03' value="{{$view.option_name_03}}">
     <select title='select' name='goods_option_03'>
     <option value=''>-선택-</option>
     {{foreach from=$view.option_value_03 item=option_value}}
     <option value='{{$option_value}}'>{{$option_value}}</option>
     {{/foreach}}
     </select>
     </td>
    </tr>
    {{/if}}
    {{/if}}
    <tr height='26'>
     <td class='product_txt1'>수량</td>
     <td class='product_txt2'>
     {{if !$view.total_stock_amount || $view.total_stock_amount == 0}}
     <b style="color:red">재고가 없습니다.</b>
     {{else}}
     <input title='input' type='text' name="order_count" class='border' size='7' value='1'>&nbsp;EA
     {{/if}}
     </td>
    </tr>
   </table>

   <Div style='border-top:1px solid #CACACA; padding:10px 0 0 0; text-align:center; margin:10px 0 0 0;'>
   {{if $view.total_stock_amount || $view.total_stock_amount > 0}}
   {{if $view.buy_button=='T'}}<a href="#" {{if $view.check_buy_auth=='T'}}onclick="location.href='{{$template}}/mall/mall1.php?idx={{$view.idx}}&mode=goods_view&topmenu=p&cate_code={{$view.cate_code}}'"{{else}}onClick="javascript:alert('회원만 구매 가능합니다. 비회원인 경우 회원가입 후 이용하여 주세요.')";{{/if}}><img alt='' src="{{$template}}/img/main/btn_buy.gif"></a>{{/if}}
   {{/if}}
   </div>
  </div>
  <div style='clear:both;'></div>
 </div>
 <div class='tle_bar'>제품특징</div>
 <Div>
  {{$view.goods_feature}}
 </div>
 <div class='tle_bar'>제품기능</div>
 <Div>
 {{$view.goods_ability}}
 </div>
</div>