/* ftp 경로 : bizdemo87193/img/hblock/design/product/css */

section.product { width:1120px; margin:0 auto; padding:60px 0px  0 0;  box-sizing:border-box; min-height:650px; }
section.product div.tit {text-align:center; width:100%; padding:0 0 35px 0}
section.product h3{font-size:35px; font-family:"noto_m"; font-weight:normal; padding-bottom:10px;}
section.product p{font-size:18px;}
section.product td.board_output_gallery_img {text-align:center;}
section.product span.board_output_gallery_subject a {font-family:"noto_r","Dotum","Gulim,Helvetica","sans-serif"; font-size:15px !important; display:block; padding-top:7px;}
section.product table.main_gallery table,section.product table.board_output table {width:100%;  margin:0 auto 30px auto !important; text-align:center; box-sizing:border-box; padding:0;}
section.product .board_output_gallery_subject {width:100% !important;}

/* 주요제품 상품페이지 스타일 추가 [ssun:20020406] */
.product_body {width: 100%;}
.flex_box {
  height: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}
.fixed_fr {
  width: 45vw;
  padding: 2em 2em 2em 0;
  text-align: right;
  background: rgba(223, 208, 187, 0.2);
  position: relative;
}
.fixed_fr::before {
  width:100%;
  height: 12.5em;
  background:rgba(223, 208, 187, 0.2);
  content:'';
  display:block;
  position: absolute;
  top: -12.5em;
}
.productLeft {
  width: 34.5%;
  max-width: 1000px;
  height: 100vh;
  padding: 5vw;
  position: fixed;
  left: 12%;
  top: 33em;

  transition: all 500ms;
}
.is_scroll160 {
  top: 6em;

  transition: all 500ms;
}
.productLeft.is_scrollEnd {
  width: 28%;
  left: 16.23%;
  top: 2em;

  transition: all 500ms;
}
.product__img__big {padding-bottom: 1.5em;}
.product__img__small,
.product__img__small li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product__img__small {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: center;
}
.Product__img__small.is_item {
  width: 6em;
  cursor: pointer;
  margin: 0.5em 0.5em 0.5em 0;
}
.Product__img__small.is_item:last-child {margin-right: 0;}
.product__img__big img,
.Product__img__small.is_item img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.content_fr {
  width: 55vw;
  padding: 2em 3em 4em 2em;
}
.productRight {
  max-width: 1200px;
  padding: 5vw;
}
.productPoint {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: left;
  padding-bottom: 5em;
}
.productPoint__textCon_box {
  width: 320px;
  height: 320px;
  padding: 6em 3em 5em 3em;
  border-radius: 50%;
  text-align: center;
  letter-spacing: -0.1em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(92, 181, 49, 0.8);
}
.productPoint__textCon_box * {
  display: inline-block;
  width: 100%;
  height: auto;
  white-space: pre-line;
}
.productPoint__textCon_box b {
  font-size: 2.5em;
  padding-bottom: 0.5em;
}
.productPoint__textCon_box span {
  font-size: 1.8em;
}
.productRight figure img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.HiddenText {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
}

.storeGo {
  padding-top: 1.5vw;
  text-align: center;
}
.storeGo__title {padding-right: 1.5em;}
.storeGo__link {
  font-size: 1.3em;
  margin-top: 4em;
  padding-bottom: 0.5em;
}
.storeGo__link__itemA {
  width: 7vw;
  min-width: 316px;
  font-weight: 500;
  padding: 1em 1em 0.8em 1em;
  background-color: rgba(64, 176, 68, 1);
  border: 2px solid rgba(64, 176, 68, 1);

  transition: all 300ms;
}
.storeGo__link__itemA__text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);

  transition: all 300ms;
}
.storeGo__link__itemA:hover {
  padding:  1em 4em 0.8em 4em;

  transition: all 300ms;
}
.storeGo__link__itemA:hover .storeGo__link__itemA__text {
  color: rgba(255, 255, 255, 1);

  transition: all 300ms;
}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
section.product {clear:both; width:100%; margin:0 auto; padding:30px 0 0px;  min-height:auto; }
section.product td.board_output_gallery_img {text-align:center;}
section.product td.board_output_gallery_img img {width:130px; height:130px; }
section.product span.board_output_gallery_subject {font-size:15px; padding-top:5px; display:block; text-align:center; width:100%; }
section.product table.main_gallery table {width:100%;  margin:0 auto !important; box-sizing:border-box; padding:10px 0;}


  .flex_box {flex-flow: column;}
  .fixed_fr {
    width: 100vw;
    padding-left: 2em;
    text-align: left;
  }
  .fixed_fr::before {display: none;}

  .productRight,
  .productLeft {padding: 2vw;}

  .productLeft {
    width: 100%;
    max-width: none;
    height: fit-content;
    position: unset;
    transition: 300ms;
  }
  .Product__img__small.is_item {width: 4.5em;}
  .content_fr {
    width: 100vw;
    padding: 2em 2em 2em 2em;
  }
  .productRight {max-width: none;}

  .storeGo__link {font-size: 1em;}

}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {

  .productRight,
  .productLeft {padding: 0vw;}

  .storeGo__link__itemA {min-width: 250px;}
  .storeGo__link__itemA:hover {text-align: inherit;}
  .storeGo__link__itemA__icon {position: unset;}

}
@media (max-width: 320px) {
}
